

.div1{
    text-align: center;
}

.h11{
    text-align: start;
    margin-left: 45%;
}

.button1{
    margin-top: 20px;
    padding: 5px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: deepskyblue;
    border-radius: 20px;
}

